/*
.change .bar1{
    transform: rotate(-45deg) translate(-9px,6px);
  }
  
  .change .bar3{
    transform: rotate(45deg) translate(-8px,-6px);
  }
  
  .change .bar2{
    opacity:0;
  }

  .c3{
    display:inline-block;
    cursor:pointer;
    }
    
    .bar1, .bar2, .bar3{
        width:35px;
        height:4px;
        background-color:rgb(11, 11, 132, 0.993);
        margin:6px 0;
        border-radius:20%;
        transition:0.4s ease;
    }*/





   

    /*---------------------- */
    
    .circle {
      /*width:100px;
      height:100px;
      position:relative;*/
      display:inline-block;
      cursor:pointer;
    }
    .bar1, .bar2, .bar3 {
     /* position: absolute;
      height: 12px;
      width:100%;
      background:white;
      border-radius:8px;*/
      
      height:4px;
      width:35px;
      margin:6px 0;
      background:rgb(11, 11, 132, 0.993);
      border-radius:8px;
     /* transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;*/
     transition:0.4s ease;
    }

    .icon.close .bar1{
      transform: rotate(-45deg) translate(-9px,6px);
    }
    
    .icon.close .bar3{
      transform: rotate(45deg) translate(-8px,-6px);
    }
    
    .icon.close .bar2{
      opacity:0;
    }
    /*.top {
      top:18%;
    }
    .middle {
      top:48%;
    }
    .bottom {
      top:78%;
    }
    .icon.close .top {
      transform:rotate(45deg);
      top:48%;
    }
    .icon.close .middle, .icon.close .bottom {
      transform:rotate(-45deg);
      top:48%;
    }*/

    
@media screen and (max-width: 991px) {
	
	.icon {
        display:inline-block;
  }
}

@media screen and (min-width: 992px) {
	
	.icon {
        display:none;
}
}

.nav-item .nav-link.active{
  color:rgb(11, 11, 132, 0.993);
  font-weight: bold;
}

#inicio{
  animation-delay:300ms;
}

#nosotros{
  animation-delay:600ms;
}

#stack{
  animation-delay:900ms;
}

#servicios{
  animation-delay:1200ms;
}

#navbarDropdownMenuLink{
  animation-delay:1500ms;
}

#contacto{
  animation-delay:1800ms;
}