<!--<a class="close-navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" 
aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    
</a>-->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">
        <img src="assets/img/logo512.png" alt="" width="40" height="40" class="img-fluid">
      </a>
      <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>-->
      <!------------------------->
     
         
                   
               
                      
                        <div id="buttonmenu" class="circle icon" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" (click)="funclick()">
                          <div class="bar1"></div>
                          <div class="bar2"></div>
                          <div class="bar3"></div>
                       
                        </div>
                       
      <!------------------------->
      <div class="collapse navbar-collapse" #collapsemenu id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <!--<a class="nav-link active" aria-current="page" routerLink="inicio">Inicio</a>-->
            <a (click)="menuHide()" [className]="titulo_header=='Inicio' ? 'nav-link active animate__animated animate__fadeInRight' : 'nav-link animate__animated animate__fadeInRight'" id="inicio" routerLink="inicio">Inicio</a>
          </li>
          <li class="nav-item">
           <!-- <a class="nav-link" routerLink="nosotros">Nosotros</a>-->
           <a (click)="menuHide()" [className]="titulo_header=='Nosotros' ? 'nav-link active animate__animated animate__fadeInRight' : 'nav-link animate__animated animate__fadeInRight'" id="nosotros" routerLink="nosotros">Nosotros</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" routerLink="nosotros">Nosotros</a>-->
            <a (click)="menuHide()" [className]="titulo_header=='Stack Tecnológico' ? 'nav-link active animate__animated animate__fadeInRight' : 'nav-link animate__animated animate__fadeInRight'" id="stack" routerLink="stack">Stack</a>
           </li>
          <li class="nav-item">
            <!--<a class="nav-link" href="#">Servicios</a>-->
            <a (click)="menuHide()" [className]="titulo_header=='Servicios Web' || titulo_header=='Servicios Móviles' || titulo_header=='Servicios UI/SEO' ? 'nav-link active animate__animated animate__fadeInRight' : 'nav-link animate__animated animate__fadeInRight'" 
            id="servicios" routerLink="servicios/web">Servicios</a>
          </li>
          <li class="nav-item dropdown">
         <!--   <a class="nav-link active animate__animated animate__fadeInRight dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
            <a [className]="titulo_header=='Portafolio Uno' || titulo_header=='Portafolio Dos' || titulo_header=='Portafolio Tres' ? 'nav-link animate__animated animate__fadeInRight dropdown-toggle' : 'nav-link animate__animated animate__fadeInRight dropdown-toggle'"
            [style.color]="titulo_header=='Portafolio Uno' || titulo_header=='Portafolio Dos' || titulo_header=='Portafolio Tres' ? color_linkactivo : '' "
            [style.font-weight]="titulo_header=='Portafolio Uno' || titulo_header=='Portafolio Dos' || titulo_header=='Portafolio Tres' ? fontweight_linkactivo : '' " 
            href="#" 
            id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Portafolio
            </a>
            <ul class="dropdown-menu animate__animated animate__fadeIn" aria-labelledby="navbarDropdownMenuLink">
              <!--<li><a class="dropdown-item active" href="#">Portafolio 1</a></li>-->
              <li><a (click)="menuHide()" [className]="titulo_header=='Portafolio Uno'?'dropdown-item active':'dropdown-item'" id="portafolioUno" routerLink="portafolio/uno">Portafolio 1</a></li>
              <li><a (click)="menuHide()" [className]="titulo_header=='Portafolio Dos'?'dropdown-item active':'dropdown-item'" id="portafolioDos" routerLink="portafolio/dos">Portafolio 2</a></li>
              <li><a (click)="menuHide()" [className]="titulo_header=='Portafolio Tres'?'dropdown-item active':'dropdown-item'" id="portafolioTres" routerLink="portafolio/tres">Portafolio 3</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" routerLink="nosotros">Nosotros</a>-->
            <a (click)="menuHide()" [className]="titulo_header=='Contacto' ? 'nav-link active animate__animated animate__fadeInRight' : 'nav-link animate__animated animate__fadeInRight'" id="contacto" routerLink="contacto">Contacto</a>
           </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- -------PD:-revisar funcion menuhide-->