#message_media, #icons_media, #section_links, #copyright, .fab{
    color:white;
}

#vermas{
    text-decoration:none;
    color:white;
}

#vermas:hover{
    color:#007bb4;
}


    
#parrafo_texto{
    color:white;
}

@media screen and (min-width: 768px) {
	
	#parrafo_texto, #col_texto {
        height:20px;
}
}

footer{
    background-color: black;
}

.socialnet{
    background-color:#007bb4;
    border-radius: 50%;
    height:40px;
    width:40px;
   
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
