<footer class="text-center text-lg-start text-muted"> 
    
  
    <!-- Section: Links  -->
    <section id="section_links" class="border-bottom">
      <div class="container text-center text-md-start">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 col-xl-4 mt-4 mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              Mi empresa
            </h6>
            <p class="text-justify wow animated fadeInDown delay-1s">
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 col-xl-4 mt-4 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Stack Tecnológico
            </h6>
            <p style="margin-bottom:0px;">
                <li [class]="clase_iconostack">
                    <a class="btn-floating btn-lg rgba-white-slight mx-1 btn">
                      <i class="fab fa-html5"></i>
                    </a>
                    </li>
                    <li [class]="clase_iconostack">
                    <a class="btn-floating btn-lg rgba-white-slight mx-1 btn">
                      <i class="fab fa-js"></i>
                    </a>
                    </li>
                    <li [class]="clase_iconostack">
                    <a class="btn-floating btn-lg rgba-white-slight mx-1 btn">
                      <i class="fab fa-css3"></i>
                    </a>
                    </li>
                    <li [class]="clase_iconostack">
                    <a class="btn-floating btn-lg rgba-white-slight mx-1 btn">
                      <i class="fab fa-php"></i>
                    </a>
                    </li>
                    <li [class]="clase_iconostack">
                      <a class="btn-floating btn-lg rgba-white-slight mx-1 btn">
                        <i class="fab fa-laravel"></i>
                      </a>
                      </li>
                      <li [class]="clase_iconostack">
                        <a class="btn-floating btn-lg rgba-white-slight mx-1 btn">
                          <i class="fab fa-java"></i>
                        </a>
                        </li>
                    <li [class]="clase_iconostack">
                    <a class="btn-floating btn-lg rgba-white-slight mx-1 btn">
                      <i class="fab fa-git"></i>
                    </a>
                    </li>
                    <li [class]="clase_iconostack">
                      <a class="btn-floating btn-lg rgba-white-slight mx-1 btn">
                        <i class="fab fa-github"></i>
                      </a>
                      </li>
                    <li [class]="clase_iconostack">
                    <a class="btn-floating btn-lg rgba-white-slight mx-1 btn">
                      <i class="fab fa-gitlab"></i>
                    </a>
                    </li>
                    <li [class]="clase_iconostack">
                    <a class="btn-floating btn-lg rgba-white-slight mx-1 btn">
                      <i class="fab fa-vuejs"></i>
                    </a>
                    </li>
                    <li [class]="clase_iconostack">
                    <a class="btn-floating btn-lg rgba-white-slight mx-1 btn">
                      <i class="fab fa-angular"></i>
                    </a>
                    </li>
            <!--</p>
            <p style="margin-bottom:0px;">-->
                    <li [class]="clase_iconostack">
                    <a class="btn-floating btn-lg rgba-white-slight mx-1 btn">
                      <i class="fab fa-figma"></i>
                    </a>
                    </li>
                   <!-- <li class="list-inline-item" @click="stack()">
                      <router-link to="/stack" :class="[ m_stack, 'nav-link text-white btn-floating btn-sm rgba-white-slight mx-1 btn']">Ver más...</router-link>
                    </li>-->
                    <li class="list-inline-item">
                        <a id="vermas" routerLink="stack">Ver más...</a>
                      </li>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
        <!--  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>-->
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 col-xl-4 mt-4 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contáctanos
            </h6>
            <!--<p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>-->
            <p class="wow animated flipInX delay-3s">
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p class="wow animated flipInX delay-3s"><i class="fas fa-phone me-3"></i> 948 619 212</p>
           <!-- <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>-->
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  <!-- Section: Social media -->
  <section
  class="d-flex justify-content-center p-4 border-bottom"
>
  <!-- Left -->
  <!--<div id="message_media" class="me-5 d-none d-lg-block">
    <span>Get connected with us on social networks:</span>
  </div>-->
  <!-- Left -->

  <!-- Right -->
  <!--<div id="icons_media">
    <a href="" class="me-4 text-reset">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-google"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-github"></i>
    </a>
  </div>-->
  <!-- Right -->
  <div class="row" style="width:100%"><!--<div class="row d-flex align-items-center">-->

    <!-- Grid column -->

    <div id="col_texto" class="col-sm-12 col-md-6" style="margin-top:auto; margin-bottom:auto;"><!--<div class="col-md-7 col-lg-8">-->
    <!--Copyright-->
    <!--<p class="text-center text-md-left">
      © 2021 - TechDevsPerú
    </p>
    <p class="text-center text-md-left" style="margin-bottom:0px;">
      v1.0.0
    </p>-->
    <p id="parrafo_texto" class="text-center text-md-left">
        Redes sociales
      </p>
    </div>

    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-sm-12 col-md-6"><!--<div class="col-md-5 col-lg-4 ml-lg-0">-->

      <!-- Social buttons -->
      <div class="text-center text-md-right">
        <ul class="list-unstyled list-inline" style="margin-bottom:0px;">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/techdevsperu" target="_blank" class="btn-floating btn-md rgba-white-slight mx-1 btn socialnet">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
          <a href="https://www.youtube.com/channel/UC0n1le2KqkxVGhXecDYo7Nw" target="_blank" class="btn-floating btn-md rgba-white-slight mx-1 btn socialnet">
          <i class="fab fa-youtube"></i>
          </a>
          </li>
          <li class="list-inline-item">
          <a href="https://www.linkedin.com/company/75747446/admin/" target="_blank" class="btn-floating btn-md rgba-white-slight mx-1 btn socialnet">
          <i class="fab fa-linkedin-in"></i>
          </a>
          </li>
        </ul>
      </div>

    </div>
    <!-- Grid column -->

  </div>
</section>
<!-- Section: Social media -->
    <!-- Copyright -->
    <div id="copyright" class="text-center p-4 wow animated flash delay-1s" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  