<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-controls">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"
      style="background-image:url('./assets/img/chicos.jpg')"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"
      style="background-image:url('./assets/img/lomas.jpg')"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"
      style="background-image:url('./assets/img/natu.jpg')"></button>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="carousel-inner">
     <div class="carousel-item active">
       <img src="assets/img/chicos.jpg" class="d-block img-fluid" alt="" style="width:100%">
       <div class="container">
        <h2>I'm Piero</h2>
        <p>Web developer</p>
    </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/lomas.jpg" class="d-block img-fluid" alt="" style="width:100%">
        <div class="container">
          <h2>I'm Piero</h2>
          <p>Web developer</p>
      </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/natu.jpg" class="d-block img-fluid" alt="" style="width:100%">
        <div class="container">
          <h2>I'm Piero</h2>
          <p>Web developer</p>
      </div>
      </div>

     <!-- <div class="carousel-item active" style="background-image:url('./assets/img/chicos.jpg')">-->
        <!--<img src="..." class="d-block w-100" alt="...">-->
      <!--  <div class="container">
            <h2>I'm Piero</h2>
            <p>Web developer</p>
        </div>
      </div>-->
      <!--<div class="carousel-item" style="background-image:url('./assets/img/lomas.jpg')">-->
        <!--<img src="..." class="d-block w-100" alt="...">-->
       <!-- <div class="container">
            <h2>I'm Piero</h2>
            <p>Web developer</p>
        </div>
      </div>-->
     <!-- <div class="carousel-item" style="background-image:url('./assets/img/natu.jpg')">-->
        <!--<img src="..." class="d-block w-100" alt="...">-->
      <!--  <div class="container">
            <h2>I'm Piero</h2>
            <p>Web developer</p>
        </div>
      </div>-->

    </div>
   
  </div>
