/*.carousel-item{
    min-height:100vh;
    background-position:center;
    background-size:cover;
    position:relative;
    z-index:1;
}
.carousel-item:before{
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    z-index:-1;
}*/
.carousel-item .container{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}

.carousel-item h2{
    font-size:80px;
    color:#ffffff;
    margin:0 0 10px;
    opacity:0;
}

.carousel-item p{
    font-size:30px;
    margin:0;
    color:#eeeeee;
    opacity:0;
}

.carousel-item.active h2{
    animation:fadeInLeft 3s ease forwards;
}

.carousel-item.active p{
    animation:fadeInRight 3s ease forwards;
}

@keyframes fadeInLeft{
    0%{
        opacity:0;
        transform: translateX(-30px);
    }
    100%{
        opacity:1;
        transform: translateX(0px);
    }
}


@keyframes fadeInRight{
    0%{
        opacity:0;
        transform: translateX(30px);
    }
    100%{
        opacity:1;
        transform: translateX(0px);
    }
}

.carousel-controls{
   
    position:absolute;
    left:50%;
    bottom:40px;
    z-index:10;
    transform:translateX(-50%);
}

.carousel-indicators{
    position:relative;
    margin:0;
}

.carousel-indicators button{
    height:40px;
    width:40px;
    margin:0 5px;
    border-radius:50%;
    background-position: center;
    background-size: cover;
    border:3px solid transparent;
    transition:all 0.3s ease;
}

.carousel-indicators button.active{
    border-color:#ffffff;
    transform:scale(1.2);
}

.carousel-control-next, .carousel-control-prev{
    height:35px;/*30px*/
    width:35px;/*30px*/
    /*background-color: red;*/
    opacity:1;
    z-index:3;
    top:50%;
    transform:translateY(-50%);
    border-radius:50%;
    transition:all 0.3s ease;
}

.carousel-control-next:hover, .carousel-control-prev:hover{
  box-shadow:0 0 10px #ffffff;
}

.carousel-control-next{
    right:-90px;
}

.carousel-control-prev{
    left:-90px;
}

/*responsive*/
@media(max-width:767px){
    .carousel-controls{
        bottom:10px;
    }

    .carousel-control-next, .carousel-control-prev{
        display:none;
    }
  /*  .carousel-indicators button{
        height:30px;
        width:30px;
    }*/
    .carousel-item h2{
        font-size:45px;
    }
    .carousel-item p{
        font-size:22px;
    }
}


@media screen and (max-width: 575px) {
    .carousel-indicators button{
        height:15px;
        width:15px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px)  {
    .carousel-indicators button{
        height:30px;
        width:30px;
    }
}