@media screen and (min-width: 768px) {
	
	#primer_parrafo {
        padding-left:60px; 
        padding-right:60px; 
        
}
#primera_columna{
    padding-left:60px;
}

#segunda_columna{
    padding-right:60px;
    text-align:right;
}
/*
#foto_piero{
 height:400px;
 width:400px;
}*/
}

@media screen and (max-width: 767px) {
	
	#primer_parrafo {
        padding-left:20px; 
        padding-right:20px; 
        
}

#segunda_columna{
    text-align:center;
}

.foto_piero:hover{
    transform: scale(1.1);/*transform: scale(1.1); */
    transition: all 0.5s;
}

.foto_piero{
    height:300px;
 width:300px;
}
}

@media screen and (min-width: 768px) and (max-width: 991px)  {
    .foto_piero{
        height:300px;
        width:300px;
       }
}

@media screen and (min-width: 992px) {
    .foto_piero{
        height:400px;
        width:400px;
       }
}

#primera_columna #inner_primeracolumna {
    vertical-align: middle;
}