<div class="row" style="width:100%; margin-left: 0px;margin-right: 0px;">
    <div id="primer_parrafo" class="col-md-12 animate__animated animate__fadeInUp" style="padding-bottom:20px; 
    text-align: justify; text-justify: inter-word; padding-top:20px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim 
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit 
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    </div>

    <div class="row" style="width:100%; margin-left: 0px;margin-right: 0px;">
        <div class="col-md-6" id="primera_columna">
           <div id="inner_primeracolumna">
               <!--  <div style="margin-left: auto;
                margin-right: auto;
                width: 100%;">-->
        <h3 id="titleh3" style="color: rgb(27, 27, 93); text-align:center; font-family: Montserrat, sans-serif; width:100%;" class="animate__animated animate__fadeInUp">Piero Cóndor</h3>
        <h5 id="titleh5" style="color: rgb(27, 27, 93); text-align:center; font-family: Montserrat, sans-serif; width:100%;" class="animate__animated animate__fadeInUp">Jefe de Sistemas</h5>
         <!--<p :class="[aplicacion.animated_wow_1, 'text-justify']">{{ aplicacion.descripcion }}</p>-->
        <p style="text-align: justify; text-justify: inter-word;" class="animate__animated animate__fadeInUp">Los tres principios fundamentales de esta empresa son: llevar el valor agregado, ser una firma orientada a las personas donde
            nuestro personal crezca profesionalmente y se consolide por muchos años, y buscar constantemente la innovación y la asimilación
            de nuevas tecnologías. <b>Llevamos la excelencia</b> a todo lo que hacemos, y la satisfacción del cliente es la herramienta de nuestro
            éxito.
        </p>
              <!--  </div>-->
    </div>
        </div>
        <div class="col-md-6 animate__animated animate__fadeInUp" id="segunda_columna"><!--style="text-align:center;"-->
          <img src="assets/img/photo4piero.jpg" class="img-fluid foto_piero" alt="imagen de piero cóndor">
         
        </div>
        </div>
