<!--<p style="background-color: aqua;">contacto works!</p>-->
   <!-- <div class="bg-dark">
        <div class="row">-->
            
           <!-- <div class="col-md-6 text-white pr-4 pl-4" style="background-color:red;border: 2px solid white !important; border-radius: 6px;">-->
               <div style="padding-top:24px;">
               <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 text-white"
               id="marco_formulario" 
               style="padding-top:15px; padding-bottom:15px; margin-left: auto;
               margin-right: auto;"> 
                <h3 class="text-center">Contáctanos</h3>
               
               <form>
                    <label for=""><i class="fas fa-mobile-alt"></i> Celular</label>
                    <input type="text" class="form form-control mb-2" name="celular">

                    <label for=""><i class="fas fa-at"></i> Email</label>
                    <input type="email" class="form form-control mb-2" name="email">

                    <label for=""><i class="fas fa-user"></i> Nombre</label>
                    <input type="text" class="form form-control mb-2" name="nombre">

                    <label for=""><i class="far fa-envelope"></i> ¿En qué te podemos ayudar?</label>
                    <textarea name="mensaje" id="" class="form form-control" cols="30" rows="3"></textarea><br>

                    <button class="btn btn-sm btn-block text-white btn_enviar" style="background-color:rgb(11, 11, 132, 0.993)" id="boton_enviar"><i class="fas fa-paper-plane"></i> Enviar</button>
                  <span class="d-none">Enviar</span>    
                </form>
            
            </div>
           </div>
      <!-- </div>
     </div>-->