<app-header [titulo_header]="titulo_browser"></app-header>
<div style="height:66px"></div>
<div [style.backgroundColor]="titulo_browser=='Contacto'?'#007bb4':''">
<app-carousel *ngIf="titulo_browser=='Inicio' || titulo_browser=='Nosotros'"></app-carousel>
<router-outlet></router-outlet>   
<app-footer></app-footer>
<app-formulario *ngIf="titulo_browser!=='Contacto'"></app-formulario>      
</div>