<p>servicios si works!</p>
<!--<div *ngIf="titulo_browser!=='Contacto'"></div> -->
<div>
  <!-- <button class="btn btn-outline-primary btn-sm" (click)="identificadorNombre('soluciones_web'); seccionActiva = '1'" style="width: 148px;">Soluciones Web</button>-->
  <!--<button class="btn btn-outline-primary btn-sm" (click)="identificadorNombre('soluciones_web')" style="width: 148px;">Soluciones Web</button>-->
  <button (click)="identificadorNombre('soluciones_web')" [class]="url_servicios=='/servicios/web'?classon:classoff" style="width: 148px;">Soluciones Web</button>
        <button (click)="identificadorNombre('soluciones_moviles')" [class]="url_servicios=='/servicios/moviles'?classon:classoff" style="width: 148px;">Soluciones Móviles</button>
        <button (click)="identificadorNombre('soluciones_uiseo')" [class]="url_servicios=='/servicios/ui_seo'?classon:classoff" style="width: 148px;">UI/SEO</button>
       <!--         <button class="btn btn-outline-primary btn-sm" @click="activeTab = '3', servicos( miServicoos = 'uiSeo' )" :class="[activeTab === '3' ? 'active' : '']" style="width: 148px;">UI/SEO</button>-->
</div>
<br>
<!---------------------------------------->
<router-outlet></router-outlet>
<!--
<ng-template [ngIf]="seccionActiva=='1'">
    <app-servicios-web></app-servicios-web>
</ng-template>
<ng-template [ngIf]="seccionActiva=='2'">
    <app-servicios-moviles></app-servicios-moviles>
</ng-template>-->
<!--<ng-template [ngIf]="show=='blue'">
    <h1>Blue Block</h1>
</ng-template> -->