<div id="boton_formulario" (click)="eventoFormcard()" class="animate__animated animate__fadeInRight" style="text-align: center">
    <i id="icon_envelope" class="far fa-envelope"></i>
</div>
<!--CARD FLOTANTE-->
<div [class]="formcard?classon_form:classoff_form" 
   id="chatbotboard" [style.borderColor]="darkMode?'#343a40':''" [style.backgroundColor]="darkMode?'#343a40':''" style="border-radius:10px;">
   <!--panel chatbot--><!--<template style="width:100%;" [style.display]="isChat?'block':'none'">-->
  <div id="cardh1" class="card-header" [style.color]="darkMode?'white':'#343a40'" [style.backgroundColor]="darkMode?'#343a40':'white'" [style.display]="isChat?'block':'none'"
   style="padding-bottom:5px;padding-left:12px; padding-right:12px; font-size: 13px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
   <div class="input-group" id="ig1">
   <button style="border-radius: 50%; border: 0.05px solid black; height: 40px;
   width: 40px; background-color:white;"><img src="assets/img/logo512.png" alt="" style="width:92%;" class="img-fluid"></button>
   &nbsp;&nbsp;&nbsp;
   <div>
   Piero
   <br><span class="dot" style="height: 10px;
   width: 10px;
   background-color: green;
   border-radius: 50%;
   display: inline-block;"></span>&nbsp;
   <label style="font-size: 11px;">{{variableVoice.value}}
   </label>
   <label class="words" contenteditable>
   <label id="p">
   </label>
   </label>
   </div>
   
  
   <label class="col text-right" style="padding-left:4px; padding-right:4px;"><i class="far fa-envelope" 
   (click)="isChat = !isChat; cerrar_panelemojis(); change_inputFocus()" id="icon_envelope" style="cursor:pointer; font-size: 30px; padding-top:5px;"></i></label>
   
<label style="padding-left:4px;"><i [class]="darkMode?'fas fa-sun btchange':'fas fa-moon btchange'" (click)="darkModeToggle()" style="cursor:pointer; font-size: 28px; padding-top:5px;"></i></label>

   &nbsp;
   <label style="padding-left:4px;"><i class="fas fa-times btclose1" (click)="close1()" id="indi4" 
   style="cursor:pointer; font-size: 30px; padding-top:5px;"></i></label>
   </div></div>
   
   
   <div id="cbody_chat" class="card-body" [style.backgroundColor]="darkMode?'#343a40':'white'" [style.display]="isChat?'block':'none'" style="overflow-y: auto;
   overflow-x: auto; padding-left:0px; 
                   padding-right:12px; padding-top:12px; 
                   padding-bottom: 12px; font-size: 13px;">
    
   <div id="textadded" style="font-size:13px;"> 
   <ul class="rb_hello" style="padding-left:12px; text-align:left;">
   <label class="animated fadeInLeft" 
   style="background-color:blue; color: white; 
   border-radius:1em; padding-top:13px; padding-bottom:13px; 
   padding-left:13px; padding-right:13px;">
   
      
        {{mensaje_bienvenida}}
  
   </label></ul>
   </div>
   </div>
   
   <div class="card-footer" id="cardf1" [style.backgroundColor]="darkMode?'#343a40':'white'" [style.display]="isChat?'block':'none'"
   style="height: 58px; padding-left:12px; padding-right:12px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">        
   <div class="input-group">
   <input [autofocus]="1" #messag_model (click)="focus_message()" (keyup)="focus_message()" (keyup.enter)="keyForEnter(messag_model.value)" type="text" class="form-control" cols="28" rows="1" 
   name="messag" id="messag" 
    style="font-size:13px; box-shadow: 0 0 0px; resize:none;
   border-bottom-right-radius: 0.7em; border-top-right-radius: 0.7em; border-bottom-left-radius: 0.7em; border-top-left-radius: 0.7em; margin-right: 12px;">
   <div>     
  
   <label style="padding-right:6px;"><i class="fas fa-smile"
   id="cb_emtc" (click)="abrir_emoticonos()" style="font-size: 25px; cursor: pointer;" [style.color]="colorpaint ? 'blue' : 'grey'"></i></label>
   <label style="padding-right:6px;"><i class="fas fa-microphone" id="cb_mic" (click)="activar_micro()" style="color: grey; font-size: 25px; cursor: pointer;"></i>
      </label>
   <label><i class="fab fa-telegram-plane" id="cb_btn" (click)="enviar()" style="font-size: 25px;" [style.color]="focusmessage_stylecolor?'blue':'grey'" [style.cursor]="focusmessage_stylecursor?'pointer':'default'"></i></label>
   </div>
</div>
   
   
   
   
   <span class="d-none">{{ checkMessage }}</span> 
   </div>         <!-- </template>--><!--panel chatbot--> 
   <!--esto es prueba nomas de api-->
 <!--  <table border="1">
      <tr *ngFor="let item of datosChatbot">
         <td>{{item.id}}</td><td>{{item.title}}</td>
      </tr>
      </table>-->
   <!--esto es prueba nomas de api-->
   <!--componente contactenos-->
   <div [style.display]="isChat?'none':'block'" id="cardh2" class="card-header" [style.color]="darkMode?'white':'#343a40'" [style.backgroundColor]="darkMode?'#343a40':'white'"
   style="border-top-left-radius: 10px; border-bottom-width: 0px; border-top-right-radius: 10px; padding-bottom:5px;padding-left:12px; padding-right:12px; font-size: 13px;">
   <div class="input-group" id="ig1">
   <button style="border-radius: 50%; border: 0.05px solid black; height: 40px;
width: 40px; background-color:white;"><img src="assets/img/logo512.png" alt="" style="width:92%;" class="img-fluid"></button>
   &nbsp;&nbsp;&nbsp;
   <div>
   Piero
  <br><span class="dot" style="height: 10px;
width: 10px;
background-color: green;
border-radius: 50%;
display: inline-block;"></span>&nbsp;
   <label style="font-size: 11px;">Contactenos
   </label>
</div>

  
<label class="col text-right" style="padding-left:4px; padding-right:4px;"><i class="fas fa-comment-dots" (click)="isChat = !isChat; change_inputFocus()" id="icon_comment" style="cursor:pointer; font-size: 30px; padding-top:5px;"></i></label>


<label style="padding-left:4px;"><i [class]="darkMode?'fas fa-sun btchange':'fas fa-moon btchange'" (click)="darkModeToggle()" style="cursor:pointer; font-size: 28px; padding-top:5px;"></i></label>


&nbsp;
   <label style="padding-left:4px;"><i class="fas fa-times btclose2" (click)="close1()" id="indi5" style="cursor:pointer; font-size: 30px; padding-top:5px;"></i></label>
   </div></div>

<div [style.display]="isChat?'none':'block'" class="card-body" [style.color]="darkMode?'white':'#343a40'" [style.backgroundColor]="darkMode?'#343a40':'white'" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; overflow-x: hidden; 
    overflow-x: auto; padding-left:12px; padding-right:12px; padding-top:0px; padding-bottom:0px;">
    
  
<div id="app2" class="animated fadeIn" style="font-family: 'Montserrat', sans-serif;">
<form>
<div class="form-group" style="margin-bottom:2px;">
<label for="" style="font-size:15px;"><i class="fas fa-mobile-alt"></i> Celular</label>
<input type="text" class="form-control" id="form_celular">
              </div>
              <div class="form-group" style="margin-bottom:2px;">
<label for="" style="font-size:15px;"><i class="fas fa-at"></i> Email</label>
<input type="text" class="form-control" id="form_email">
              </div>
              <div class="form-group" style="margin-bottom:2px;">
<label for="" style="font-size:15px;"><i class="fas fa-user"></i> Nombre</label>
<input type="text" class="form-control" id="form_nombre">
              </div>    
              <div class="form-group" style="margin-bottom:2px;">
<label for="" style="font-size:15px;"><i class="far fa-envelope"></i> ¿En qué te podemos ayudar?</label>
<textarea class="form-control" id="form_message"></textarea>
              </div>   
            
              <label class="col text-center" style="padding-left:0px;padding-right:0px;">
<div class="form-group" style="margin-bottom:2px; margin-top:8px;">

    <button type="submit" name="submit" id="sub" 
    class="btn" style="color: white; border: rgba(11, 11, 132, 0.993); background-color:rgba(11, 11, 132, 0.993) ;font-family: Montserrat, sans-serif;">
    <i class="fas fa-paper-plane"></i> Enviar
    </button>

</div>
</label>                          
</form>
</div>
     
</div>
   <!--componente contactenos-->
</div>
     
<!-- </div>-->
<!--divchatbot-->
<!--5_1_21--------panel de amoticones--------------------------------->
<div class="card" [class]="colorpaint ? 'block' : 'd-none'"

id="emoticonboard" style="border-radius:10px; font-family: 'Montserrat', sans-serif;">
<div id="cb_emoticon" class="card-body"><p id="emojis_fila" style="text-align: justify; text-justify: inter-word; margin-bottom:0; text-align-last: center; line-height: 1.5em;">

   <ng-template ngFor let-emo_uni [ngForOf]="emoticonos"><a style="cursor:pointer;" (click)="insertar_emoji(emo_uni.emt_id)">{{emo_uni.emt_imagen}}</a>
   </ng-template>
</p></div>
</div>

<!--5_1_21--------panel de emoticones--------------------------------->
<!--8_1_21--------IMGPOPUP------------------------------------>
<div class="show3">
<div class="overlay3"></div><div class="img-show3"><span class="span3"><i class="fas fa-times" 
style="cursor:pointer; color: white; text-shadow: 0 0 3px black, 0 0 5px grey; font-size: 30px;"></i></span><img src=""></div>
   
</div>
<!--CARD FLOTANTE-->