
#boton_formulario{/*codigo para que salga el boton en el lado inferior derecho*/
	padding:10px;
	border-radius: 50%;
	width: 50px;
	background:#007bb4;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
	z-index: 200;
	-webkit-box-shadow: 10px 10px 19px 0px rgba(0,0,0,1);
	-moz-box-shadow: 10px 10px 19px 0px rgba(0,0,0,1);
	box-shadow: 10px 10px 19px 0px rgba(0,0,0,1);
	
    
}

@media screen and (max-width: 767px) {
	#chatbotboard{
		position:fixed;
		height:100%;
		width:100%;
		right:0px;
		top:0%;
		font-size:1.5rem;
		display:flex;
		flex-direction:column;
		/*align-items:flex-end;*/
		z-index:1050;
		
	}

	#emoticonboard{
		position:fixed;
		/*height:20%;*/
		width: -webkit-calc(100% - 28px);
		width:    -moz-calc(100% - 28px);
		width:         calc(100% - 28px);
		
		
		margin-left: 14px;
		
		bottom:70px;
		font-size: 1.5rem;
		z-index:1051;
	 }

	 #form_message{
		 height:15em;
	}

	#sub{
		width:100%;
	}
/*	.card-header{
		width:100%; 
	 }
  
	 .card-body{
		width:100%; 
	 }
  
	 
	 .card-footer{
		width:100%; 
	 }*/
}


@media screen and (min-width: 768px) {
	#chatbotboard{
		position:fixed;
		height:490px;/*390px ---x 590px */
		width:300px;
		right:14px;
		top:10.5%;/*26% ---x 40% */
		font-size:1.5rem;
		display:flex;
		flex-direction:column;
		/*align-items:flex-end;*/
		z-index:1050;
	}

	#emoticonboard{
		position:fixed;
		/*height:200px;*/
		width:300px;
		right:33px;
		bottom:26.5%;
		font-size: 1.5rem;
		display:flex;
		z-index:1051;
	 }
	 #form_message{
		height:5em;
	 }
/*	 #cb_emoticon{
		width:300px;
	 }
	.card-header{
		width:298px; 
	 }
  
	 .card-body{
		width:298px; 
	 }
  
	 
	 .card-footer{
		width:298px; 
	 }*/
}

/*.fadeOutRight {
	display:none;
	visibility:hidden
	  -webkit-animation: fadeOutRight 1s; 
		 -moz-animation: fadeOutRight 1s; 
		  -ms-animation: fadeOutRight 1s; 
		   -o-animation: fadeOutRight 1s; 
			  animation: fadeOutRight 1s;
  }
  
  @-webkit-keyframes fadeOutRight {
	0% {
	   opacity: 1;
	   -webkit-transform: translateX(0);
	}
	100% {
	   opacity: 0;
	   -webkit-transform: translateX(20px);
	}
 }

  @keyframes fadeOutRight {
	0% {
		opacity: 1;
		transform: translateX(0);
	 }
	 100% {
		opacity: 0;
		transform: translateX(20px);
	 }
  }
  */

  /* MODO OSCURO*/
  /*
:root {
    --clr-light: #343a40;
    --clr-dark: white;
  
    --background: var(--clr-light);
    --foreground: var(--clr-dark);
 
  }

  .darkmode {
   --clr-light: #343a40;
    --clr-dark: white;
  
    --background: var(--clr-dark);
    --foreground: var(--clr-light);
  }

  #icon_envelope, #icon_comment, .btchange, .btchange_2, .btclose1, .btclose2{
     color: var(--background);
  }

  #chatbotboard, #cardh1, #cardf1, #cardh2{
     background-color: var(--foreground);
     color: var(--background);
  }
*/





/* 
.nbu1{
    position: relative;
    animation-name: example;
    animation-duration: 0.35s;
      animation-delay: 0s;
  
    animation-iteration-count: infinite;
  }
  
  
  @keyframes example {
    0%   {top:0px;}
   
    50%  {top:-2px;}
    
    100% {top:0px;}
  }
  
  
  .nbu2{
    position: relative;
    animation-name: example2;
    animation-duration: 0.35s;
      animation-delay: 0.10s;
  
    animation-iteration-count: infinite;
  }
  
  
  @keyframes example2 {
    0%   {top:0px;}
   
    50%  {top:-2px;}
    
    100% {top:0px;}
  }
  
  
  .nbu3{
    position: relative;
    animation-name: example3;
    animation-duration: 0.35s;
      animation-delay: 0.20s;
  
    animation-iteration-count: infinite;
  }
  
  
  @keyframes example3 {
    0%   {top:0px;}
   
    50%  {top:-2px;}
    
    100% {top:0px;}
  }

  */

  
  .show3, .show3 .overlay3{
	display:none;
  z-index: 1052;/*4*/
	 width: 100%;
	 height: 100%;
	 background: rgba(0,0,0,.36);
	 position: fixed;
	 top: 0;
	 left: 0;
 }

 @media screen and (max-width: 767px) {
	.show3 .img-show3{
		z-index:1053;/*8*/
		width:100%;
		height:400px;
		background: #FFF;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	  overflow:hidden;
	
	}
	}
	
	@media screen and (min-width: 768px) {
	   .show3 .img-show3{
		   z-index:1053;/*8*/
		   width:600px;
		   height:400px;
		   background: #FFF;
		   position: fixed;
		   top: 50%;
		   left: 50%;
		   transform: translate(-50%,-50%);
		 overflow:hidden;
	   
	   }
	   }

	   
.img-show3 .span3{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1053;/*8*/
    cursor: pointer;
}
.img-show3 img{
 
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}